__pycache__/

*~
*.bak
*.pyc
.nfs*


doc/build
# as copy build only for 'pip install' or create package 'setup.py sdist'
py4amitex/doc
py4amitex.egg-info
dist

data_2_modified*

.coverage

.eggs
.tox
.venv
venv
*.egg
*.py[cod]
*.swp

py4amitex_*.egg-info

.idea/
.vscode/

/build*/
/_install*
testresults
/cpp4amitex/examples/merope/build*/

.pytest_cache
.cache
